:root {
  --main-dark-color: #000;
  --main-light-color: #fff;
  --item-content-color: #eee;
  --btn-bg-color: #ababab;
  --back-bg-color: #eaeaea;
  --box-sh-color: #505050;
  --montserrat-font-family: "Montserrat", serif;
}
